<h2 align="center">Titel: <%=	 @article.title %></h2>
<div class="well col-cs-8 col-xs-offset-2">
    <% if @article.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4  col-md-offset-4">
            <li>Erstellt von:</li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title">
              <%= link_to @article.user.username, user_path(@article.user) %>
          </li>
          <li><small><%= @article.user.articles.count if @article.user.articles %> Artikel </small></li>
        </div>
      </div>
    </ul>
    <% end %>
    <%= simple_format(@article.description) %>
    <div class="article-actions">
        <% if logged_in? && current_user == @article.user %>
        <%= link_to 'Artikel bearbeiten', edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Artikel löschen', articles_path(@article), method: :delete, 
                                    data: { confirm: "Möchten Sie den artikel wirklich löschen?"}, class: "btn btn-xs btn-danger" %>
        <% end %>
        <%= link_to 'Zurück zur Artikelübersicht', articles_path, class: "btn btn-xs btn-success" %>
    </div>
</div>