<h2 align="center">Titel: <%=	 @article.title %></h2>
<div class="well col-cs-8 col-xs-offset-2">
    <%= simple_format(@article.description) %>
    <div class="article-actions">
        <%= link_to 'Artikel bearbeiten', edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Artikel löschen', articles_path(@article), method: :delete, 
                                    data: { confirm: "Möchten Sie den artikel wirklich löschen?"}, class: "btn btn-xs btn-danger" %>
        <%= link_to 'Zurück zur Artikelübersicht', articles_path, class: "btn btn-xs btn-success" %>
    </div>
</div>